<%= form_for(client) do |f| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="form-group">
    <%= f.label :telefone %>
    <%# f.text_field :telefone %> <!-- telefone normal -->
    <%= f.text_field :telefone, placeholder: '(DD)1234-56789', id: 'telefone', class: 'form-control' %> <!-- Máscara telefone -->
  </div>

  <div class="field">
    <%= f.label :pais %>
    <%= f.text_field :pais %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
